<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Checkout example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body class="bg-light">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="titulo display-6" href="#">ALQUICOCHE</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
          </div>
        </div>
      </nav>
    </header> 
   
<div class="container">
  <main>
    <div class="py-5 text-center">
      <br>
      <h2>Cambiar Contraseña </h2>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md- col-lg-8">
        <h4 class="mb-3">Introduce tu correo y tu nueva contraseña </h4>
        <br>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" [(ngModel)]="email" class="form-control" id="email" placeholder="you@example.com" name= "email" required>
              <div id="error-mail" style="display: none;" >
                <div class="alert alert-danger" role="alert">
                <p>Error: Mail no valido.</p></div>
              </div>
            </div>

            <div class="col-12">
              <label for="contraseña" class="form-label">Nueva Contraseña</label>
              <input type="password" [(ngModel)]="password" class="form-control" id="contraseña" name= "pass" required>
            </div>

            <div class="col-12">
              <label for="contraseña2" class="form-label">Repita su nueva contraseña</label>
              <input type="password" [(ngModel)]="password2" class="form-control" id="contraseña2" name= "pass2" required>

              <div id="error-password" style="display: none;" >
                <div class="alert alert-danger" role="alert">
                <p>Error: Las contraseñas no coinciden.</p></div>
              </div>

            </div>
          </div>
          <br><br>
          <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="submit()">Cambiar Contraseña</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Alquicoche</p>
  </footer>
</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
  </body>
</html>

