<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .btn-primary {
        padding: 0px 15px;                
        margin-left: 25px;
        margin-right: 25px;
      } 

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="titulo display-6" href="#">ALQUICOCHE</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        </ul>
      </div>
    </div>
  </nav>
</header>  

<main>
  <br><br><br>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
        <div class="col" *ngFor="let reserva of reservas?.reservas">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Reserva del coche {{reserva.matricula}}</h5>
              <p class="card-text">Reservado de {{reserva.fechaReserva}} a {{reserva.fechaDestino}}. Coste de la reserva: {{reserva.costeReserva}}</p>
              <a class="btn btn-primary" data-bs-toggle="modal" href="#verReserva" role="button" (click)="elegir(reserva)" >Ver</a>
              <a class="btn btn-primary" data-bs-toggle="modal" href="#editarReserva" role="button" (click)="elegir(reserva)">Editar</a>
              <a class="btn btn-primary" data-bs-toggle="modal" href="#borrarReserva" role="button" (click)="elegir(reserva)" >Borrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="verReserva" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Reserva {{marca}} {{modelo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Matrícula: {{reserva.matricula}}
          <br>Gama: {{gama}}
          <br>Fecha Reserva: {{reserva.fechaReserva}}
          <br>Hora Reserva: {{reserva.horaReserva}}
          <br>Oficina Reserva: {{reserva.oficinaReserva}}
          <br>Fecha Destino: {{reserva.fechaDestino}}
          <br>Hora Destino: {{reserva.horaDestino}}
          <br>Oficina Destino: {{reserva.oficinaDestino}}
          <br>Tarifa Cliente: {{reserva.tarifaCliente}}
          <br>Tarifa Coche: {{reserva.tarifaCoche}}
          <br>Coste Reserva:{{reserva.costeReserva}}



        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#editarReserva" data-bs-toggle="modal" data-bs-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="editarReserva" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Editar reserva {{marca}} {{modelo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        <div class>
          <h4 class="mb-3">Rellene los siguientes campos</h4>
          <form>
            <div class="row g-3">
              <div class="col-12">
                <label for="tarifa" class="form-label">Elige una tarifa:</label>
                <select class="form-select" [(ngModel)]="datos.tarifa" name="tarifa" id="tarifa" placeholder="Elija la tarifa">
                  <option value="0">Tarifa por día y kilómetro</option>
                  <option value="1">Tarifa por día con número limitado de kilómetros</option>
                  <option value="2">Tarifa semanal</option>
                  <option value="3">Tarifa de fin de semana</option>
                  <option value="4">Tarifa de larga duración</option>
                </select>
              </div>

              <div class="col-12">
                <label for="ofiRes" class="form-label">Seleccione los extras que quiere incluir:</label> <br>
                <input type="checkbox" [(ngModel)]="datos.wifi" name="wifi" id="wifi"> Wi-Fi portátil (+72€)<br>
                <input type="checkbox" [(ngModel)]="datos.gps" name="gps" id="gps"> GPS (+63€)<br>
                <input type="checkbox" [(ngModel)]="datos.cadenas" name="cadenas" id="cadenas"> Cadenas para nieve (+63€)<br>
                <input type="checkbox" [(ngModel)]="datos.silla" name="silla" id="silla"> Silla para niños (+69€)<br>
              </div>
            </div>

          <hr class="my-4">

          <div class="row gy-3">

            <div class="col-12">
              <label for="tarjeta" class="form-label">Número de tarjeta bancaria</label>
              <input type="text" [(ngModel)]="datos.tarjeta" class="form-control" name="tarjeta" id="tarjeta" placeholder="Formato: XXXXXXXXXXXXXXXX" required>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-94 btn btn-primary btn-lg" type="submit" (click)="submit()">Confirmar cambios</button>
        </form>
      </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#verReserva" data-bs-toggle="modal" data-bs-dismiss="modal">Volver a ver</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="borrarReserva" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminación Reserva del coche {{marca}} {{modelo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que quieres eliminar la reserva del coche con matrícula {{reserva.matricula}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="borrarReserva(reserva.idReserva)">Borrar</button>
        </div>
      </div>
    </div>
  </div>
  
  

</main> 
  </body>
</html>

