<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Carousel Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">


    

    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

   
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="titulo display-6" href="#">ALQUICOCHE</a>


      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        </ul>
      </div>
    </div>


    <div class="d-flex flex-row ">

      <div class="p-2">
        <a class="navbar-brand action" (click)="registro()">Registrarse</a>
      </div>
      <div class="p-2">
        <a class="navbar-brand action" (click)="login()">Iniciar sesion</a>
      </div>
    </div>


  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-carousel">

        <div class="container">
          <div class="carousel-caption">
            <h1>¿Buscas alquilar un coche?</h1>
            <p>Alquicoche es tu empresa de alquiler de coches de confianza. <br/> Los mejores precios y las mejores condiciones con solo un par de clicks.</p>
            <p><a class="btn btn-lg btn-primary" (click)="verCoches()">Ver coches</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1149137/pexels-photo-1149137.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-carousel">

        <div class="container">
          <div class="carousel-caption">
            <h1>Lo mejor del mercado.</h1>
            <p> Las mejores marcas, los mejores precios, las mejores condiciones.</p>
            <!--   <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>   -->
            <p><a class="btn btn-lg btn-primary" href="#">Acceder</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-carousel">
        <div class="container">
          <div class="carousel-caption">
            <h1>¿A qué estás esperando?</h1>
            <p>Con varios planes adaptables a tus necesidades.<br/> Te garantizamos que encontrarás tu coche ideal.</p>
            <!--   <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>   -->
            <p><a class="btn btn-lg btn-primary" href="#">Acceder</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing p-2">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6">
        <!--   <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>   -->
        <img src="https://www.keyfitlocksmiths.co.uk/wp-content/uploads/2019/01/Newcastle-Car-Auto-Locksmith.jpg" class="img-round">
        <h2>Encuentra un coche</h2>
        <p>Elige tus prioridades, nosotros nos encargamos del resto</p>
        <p><a class="btn btn-secondary" (click)="filtros()">Ver filtros &raquo;</a></p>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <!--   <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>   -->
        <img src="https://www.pictorem.com/collection/thumb250/600_bridgettduran1_Custom-Written-Papers-740x370.jpg" class="img-round">
        <h2>Reservas</h2>
        <p>Echa un vistazo a tus reservas activas.</p>
        <p><a class="btn btn-secondary" (click)="reservas()">Ver reservas &raquo;</a></p>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

  </div><!-- /.container -->

  <br>

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022 Alquicoche &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
