<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="titulo display-6" href="#">ALQUICOCHE</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
          </div>
        </div>
      </nav>
    </header>  
<main class="form-signin">
  <form>
    <div class="py-5 text-center">
      <h2>Inicie sesión</h2>
    </div>

    <div class="form-floating">
      <input type="email" [(ngModel)]="datos.correo" class="form-control" id="floatingInput" placeholder="name@example.com" name="uname" required/>
      <label for="floatingInput">Email address</label>
    </div>
    <div id="error-dni" style="display: none;" >
      <div class="alert alert-danger" role="alert">
      <p>Error: El mail no esta escrito correctamente.</p></div>
    </div>
  
    
    <div class="form-floating">
      <input type="password" [(ngModel)]="datos.contrasena" class="form-control" id="floatingPassword" placeholder="Password" name="pwd" required/>
      <label for="floatingPassword">Password</label>
    </div>
    <div id="error" style="display: none; color: red;" >
      <div class="alert alert-danger" role="alert">
      <p>Error: Usuario y/o contrasena incorrectos. Intentelo de nuevo.</p></div>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <p>¿Olvidaste tu contraseña? <a href="/cambio">Cambiar</a></p>
    <p>¿No tienes cuenta? <a href="/registro">Registrate aquí</a></p>
    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022 Alquicoche</p>
  </form>
</main>


    
  </body>
</html>
