<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/mail.css}" rel="stylesheet" />
    <title>Reserva realizada con éxito</title>
</head>
<body>
    <div class = "topBar">
        <h1>El código de su reserva es <span th:text="${idReserva}">idReserva</span></h1>
    </div>
    <div class = "BoxMetricas">
        <p> Para más información, consulte sus reservas en Alquicoche.
        <br>
        Gracias por confiar en Alquicoche.<br>
        <img src="logovictera.png"></p>
    </div>
</body>
</html>
