<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Checkout example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>¡Alquile un coche!</h2>
      <p class="lead">Debe rellenar el siguiente formulario con los datos necesarios para realizar la reserva.</p>
    </div>


      <div class>
        <h4 class="mb-3">Rellene los siguientes campos</h4>
        <form>
          <div class="row g-3">
            <div class="col-12">
              <label for="tarifa" class="form-label">Elige una tarifa:</label>
              <select class="form-select" [(ngModel)]="datos.tarifa" name="tarifa" id="tarifa" placeholder="Elija la tarifa">
                <option value="0">Tarifa por día y kilómetro</option>
                <option value="1">Tarifa por día con número limitado de kilómetros</option>
                <option value="2">Tarifa semanal</option>
                <option value="3">Tarifa de fin de semana</option>
                <option value="4">Tarifa de larga duración</option>
              </select>
            </div>

            <div class="col-12">
              <label for="ofiRes" class="form-label">Seleccione los extras que quiere incluir:</label> <br>
              <input type="checkbox" [(ngModel)]="datos.wifi" name="wifi" id="wifi"> Wi-Fi portátil (+72€)<br>
              <input type="checkbox" [(ngModel)]="datos.gps" name="gps" id="gps"> GPS (+63€)<br>
              <input type="checkbox" [(ngModel)]="datos.cadenas" name="cadenas" id="cadenas"> Cadenas para nieve (+63€)<br>
              <input type="checkbox" [(ngModel)]="datos.silla" name="silla" id="silla"> Silla para niños (+69€)<br>
            </div>
          </div>

          <hr class="my-4">

          <div class="row gy-3">

            <div class="col-12">
              <label for="tarjeta" class="form-label">Número de tarjeta bancaria</label>
              <input type="text" [(ngModel)]="datos.tarjeta" class="form-control" name="tarjeta" id="tarjeta" placeholder="Formato: XXXXXXXXXXXXXXXX" required>
            </div>
          </div>

          <hr class="my-4">

          <a class="btn btn-primary" data-bs-toggle="modal" href="#ConfirmarReserva" role="button" (click)="calc()" >Confirmar Reserva</a>
        </form>
      </div>
  </main>

  <div class="modal" id="ConfirmarReserva" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación Reserva del coche</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que quieres reservar el coche?</p>
          <p>Su coste es de: {{precio}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Reservar</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Alquicoche</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
  </body>
</html>
