<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
    <body class="text-center">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="titulo display-6" href="#">ALQUICOCHE</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
              </ul>
            </div>
          </div>
        </nav>
      </header>    
    
        <main class="form-signin">
          
          <form autocomplete="off">
            <br>
            <label class="form-label">Seleccione ciudad de reserva</label>
            <select class="form-select" [(ngModel)]="datos.ciudadRes" aria-label="Default select example" name="cityRes" placeholder="Select the city">
                <option value="1">Madrid</option>
                <option value="2">Toledo</option>
                <option value="3">Valencia</option>
            </select>

              <br>
              <div id="error-fecha" style="display: none;" >
                <div class="alert alert-danger" role="alert">
                <p>Error: La fecha introducida es incorrecta.</p></div>
            </div>
            <div id="error-hora" style="display: none;" >
                <div class="alert alert-danger" role="alert">
                <p>Error: La hora introducida es incorrecta.</p></div>
            </div>
        
            <label class="form-label">Fecha de reserva</label>
            <div class="input-group">
              <input type="email" name="e" class="form-control" [(ngModel)]="aux.yearRes" placeholder="Año">
              <select class="form-select" name="h" [(ngModel)]="aux.monthRes">
                <option value="">Mes</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
              <input type="text" name="f" class="form-control" [(ngModel)]="aux.dayRes" placeholder="Dia">
            </div>

            <br>
            <label class="form-label">Hora de reserva</label>
            <div class="input-group">
              <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
              </svg></span>
              <input type="text" name="a" class="form-control" [(ngModel)]="aux.hRes" placeholder="Hora">
              <input type="text" name="b" class="form-control" [(ngModel)]="aux.mRes" placeholder="Minutos">
            </div>

            <br>
            <label class="form-label">Seleccione ciudad de devolución</label>
            <select class="form-select" [(ngModel)]="datos.ciudadDes" aria-label="Default select example" name="cityDes" placeholder="Select the city">
                <option value="1">Madrid</option>
                <option value="2">Toledo</option>
                <option value="3">Valencia</option>
            </select>
            <br>
            <label class="form-label">Fecha de devolución</label>
            <div class="input-group">
              <input type="email" name="e" class="form-control" [(ngModel)]="aux.yearDes" placeholder="Año">
              <select class="form-select" name="h" [(ngModel)]="aux.monthDes">
                <option value="">Mes</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
              <input type="text" name="f" class="form-control" [(ngModel)]="aux.dayDes" placeholder="Dia">
            </div>
            <br>
            <label class="form-label">Hora de devolución</label>
            <div class="input-group">
              <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
              </svg></span>
              <input type="text" name="c" class="form-control" [(ngModel)]="aux.hDes" placeholder="Hora">
              <input type="text" name="d" class="form-control" [(ngModel)]="aux.mDes" placeholder="Minutos">
            </div>

            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="filtros()">Buscar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022 Alquicoche</p>
          </form>
        </main>
        
        
            
          </body>
</html>

